<header class="app-header  box-shadow">
  <div class=" box-shadow">
    <div class="header-content">
      <nav class="nav-buttons">

        <h1> {{     this.companyName || 'Not available' }}</h1>
        <!-- <button mat-button (click)="goToHome()"> Dashboard</button> -->
        <button mat-flat-button [matMenuTriggerFor]="menu1">Master</button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item (click)="goToCustomer()">Customer Detail</button>
          <button mat-menu-item (click)="goToCustomertest()">Customer</button>
          <button mat-menu-item (click)="goToVendor()">Farmer</button>
          <button mat-menu-item (click)="goToListOfValues()">List Master</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="Bill">Bill</button>
        <mat-menu #Bill="matMenu">
          <button mat-menu-item (click)="goToFarmerBill()">Farmer Bill</button>
          <button mat-menu-item (click)="goToCustomerBill()">Customer Bill</button>

        </mat-menu>
        <button mat-button [matMenuTriggerFor]="Payment">Payment</button>
        <mat-menu #Payment="matMenu">
          <button mat-menu-item (click)="goToVendorPayment()">Farmer Payment</button>
          <button mat-menu-item (click)="goToCustomerPayment()">Customer Payment</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="Reports">Reports</button>
        <mat-menu #Reports="matMenu">
          <button mat-menu-item (click)="goToVendorPayment()">Farmer Payment</button>
          <button mat-menu-item (click)="goToCustomerPayment()">Customer Payment</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="Payment">Setting</button>
        <mat-menu #Payment="matMenu">
          <button mat-menu-item (click)="goToVendorPayment()">Farmer Payment</button>
          <button mat-menu-item (click)="goToCustomerPayment()">Customer Payment</button>
        </mat-menu>
      </nav>

      <h1> {{ formname }}</h1>


      <div class="scale-control">
        <button mat-stroked-button color="primary" [matMenuTriggerFor]="scaleMenu">
          {{ isScaled80 ? 'Normal (100%)' : 'Scale 80%' }}
        </button>
        <mat-menu #scaleMenu="matMenu">
          <button mat-menu-item (click)="setNormal()">Normal (100%)</button>
          <button mat-menu-item (click)="setZoomOut()">Zoom Out (80%)</button>
        </mat-menu>
      </div>


      <div class="auth-area">
        <ng-container *ngIf="!isSignedIn; else signedInTpl">
          <button mat-raised-button color="warn" (click)="signIn()">Sign In</button>
        </ng-container>
        <ng-template #signedInTpl>
          <button mat-raised-button color="warn" [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
            {{ userName || 'User' }}
          </button>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              Sign Out
            </button>
            <button mat-menu-item (click)="selectCompany()">
              <mat-icon>home</mat-icon>
              Select Company
            </button>
          </mat-menu>
        </ng-template>
      </div>

      <!-- Scale control -->


      <!-- Quick logout button (visible when signed in) -->
      <!-- <div class="quick-logout" *ngIf="isSignedIn">
        <button mat-raised-button color="warn" class="logout-button" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div> -->


    </div>
  </div>
</header>