login-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-title {
	margin-top: 16px;
}
.login-svg {
	margin-top: 16px; /* Assuming you want to maintain the margin for the SVG */
}
