<div class="center-container">
  <mat-card class="company-card">
    <mat-card-header>
      <mat-card-title>Company Selection</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill" class="company-select">
        <mat-label>Company</mat-label>
        <mat-select [(ngModel)]="selectedCompany">
          <mat-option *ngFor="let company of companylist" value="company.companyID" (onSelectionChange)="onCompanySelected(company)" >
            {{ company.companyName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="actions">
        <button mat-raised-button color="primary" (click)="confirmSelection()">Confirm</button>
        <button mat-raised-button color="primary" (click)="loginPage()">Login Again</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>